<ul id="contents-nav" class="nav nav-pills nav-stacked hidden-xs" role="tablist" >
    <li role="presentation" class="active">
        <a href="#load-config">Working with configuration files</a>
    </li>
</ul><!-- end of main navigation -->