<ul id="contents-nav" class="nav nav-pills nav-stacked hidden-xs" role="tablist" >
    <li role="presentation" class="active">
        <a href="#create-engine">Create a template engine</a>
    </li>
    <li role="presentation" >
        <a href="#use-twig">Using twig engine</a>
    </li>
    <li role="presentation">
        <a href="#built-in">Built-in extensions</a>
    </li>
    <li role="presentation">
        <a href="#add-extension">Extending engine</a>
    </li>
</ul><!-- end of main navigation -->