<ul id="contents-nav" class="nav nav-pills nav-stacked hidden-xs" role="tablist" >
    <li role="presentation" class="active">
        <a href="#session">Session drivers</a>
    </li>
    <li role="presentation">
        <a href="#driver">Session driver API</a>
    </li>

</ul><!-- end of main navigation -->