<div class="affix">
    <h3>Table of contents</h3>
    <hr>
    <ul class="">
        <li><a href="#">Installation</a></li>
        <li class="active">
            <a href="#slick-packages">Slick Packages</a>
            <ul class="">
                <li class="active"><a href="getting-started">Common</a></li>
            </ul>
        </li>

    </ul>
</div>