<ul id="contents-nav" class="nav nav-pills nav-stacked hidden-xs" role="tablist" >
    <li role="presentation" class="active">
        <a href="#annotations">Anatomy of an Annotation</a>
    </li>
    <li role="presentation">
        <a href="#using">Using an Annotation</a>
    </li>

</ul><!-- end of main navigation -->