<ul id="contents-nav" class="nav nav-pills nav-stacked hidden-xs" role="tablist" >
    <li role="presentation" class="active">
        <a href="#creating-objects">Creating objects</a>
    </li>
    <li role="presentation">
        <a href="#reading-writing-property-values">
            Reading/Writing property values
        </a>
    </li>
    <li role="presentation">
        <a href="#property-access">
            The right access to properties
        </a>
    </li>
    <li role="presentation">
        <a href="#any-class">
            Use it in any class
        </a>
    </li>
</ul><!-- end of main navigation -->