<ul id="contents-nav" class="nav nav-pills nav-stacked hidden-xs" role="tablist" >
    <li role="presentation" class="active">
        <a href="#enumerations">Declaration</a>
    </li>
    <li role="presentation">
        <a href="#usage">Usage</a>
    </li>
    <li role="presentation">
        <a href="#methods">Methods</a>
    </li>

</ul><!-- end of main navigation -->