<ul id="contents-nav" class="nav nav-pills nav-stacked hidden-xs" role="tablist" >
    <li role="presentation" class="active">
        <a href="#overview">Class inspection</a>
    </li>
    <li role="presentation">
        <a href="#class-elements">
            Getting class elements
        </a>
    </li>
    <li role="presentation">
        <a href="#checking-class-elements">
            Checking class elements
        </a>
    </li>
    <li role="presentation">
        <a href="#retrieving-class-annotations">
            Retrieving class annotations
        </a>
    </li>
    <li role="presentation">
        <a href="#class-reflection">
            Getting class reflection
        </a>
    </li>
</ul><!-- end of main navigation -->