<ul id="contents-nav" class="nav nav-pills nav-stacked hidden-xs" role="tablist" >
    <li role="presentation" class="active">
        <a href="#bootstrap">Locale and bootstrap</a>
    </li>
    <li role="presentation" class="active">
        <a href="#messages-file">Supported messages file type</a>
    </li>
    <li role="presentation" class="active">
        <a href="#messages-translation">Message translation</a>
    </li>
</ul><!-- end of main navigation -->