<ul id="contents-nav" class="nav nav-pills nav-stacked hidden-xs" role="tablist" >
    <li role="presentation" class="active">
        <a href="#container">Container</a>
    </li>
    <li role="presentation" class="">
        <a href="#definitions-value">Value definitions</a>
    </li>
    <li role="presentation" class="">
        <a href="#definitions-callable">Callable definitions</a>
    </li>
    <li role="presentation" class="">
        <a href="#definitions-alias">Alias definitions</a>
    </li>
    <li role="presentation" class="">
        <a href="#definitions-object">Object definitions</a>
    </li>
    <li role="presentation" class="">
        <a href="#constructor-injection">Dependency injection</a>
    </li>

</ul><!-- end of main navigation -->