<ul id="contents-nav" class="nav nav-pills nav-stacked hidden-xs" role="tablist" >
    <li role="presentation" class="active">
        <a href="#adapter">Creating an Adapter</a>
    </li>
    <li role="presentation" class="">
        <a href="#query">Querying data</a>
    </li>

    <li role="presentation" class="">
        <a href="#executing-queries">Executing Queries</a>
    </li>

    <li role="transactions" class="">
        <a href="#executing-queries">Database transactions</a>
    </li>

    <li role="your-adapter" class="">
        <a href="#executing-queries">Create your own adapter</a>
    </li>

</ul><!-- end of main navigation -->