<ul id="contents-nav" class="nav nav-pills nav-stacked hidden-xs" role="tablist" >
    <li role="presentation" class="active">
        <a href="#create-table">Create table</a>
    </li>
    <li role="presentation" class="">
        <a href="#alter-table">Alter table</a>
    </li>
    <li role="presentation" class="">
        <a href="#drop-table">Drop table</a>
    </li>
    <li role="presentation" class="">
        <a href="#create-index">Create index</a>
    </li>
     <li role="presentation" class="">
        <a href="#drop-index">Drop index</a>
    </li>

</ul><!-- end of main navigation -->