<ul id="contents-nav" class="nav nav-pills nav-stacked hidden-xs" role="tablist" >
    <li role="presentation" class="active">
        <a href="#adding-tables">Adding tables</a>
    </li>
    <li role="presentation" class="">
        <a href="#create-schema">Schema definition</a>
    </li>


</ul><!-- end of main navigation -->