<ul id="contents-nav" class="nav nav-pills nav-stacked hidden-xs" role="tablist" >
    <li role="presentation" class="active">
        <a href="#intro">Encapsulating a query</a>
    </li>
    <li role="presentation" class="">
        <a href="#select">Select query</a>
    </li>
    <li role="presentation" class="">
        <a href="#where">Defining where conditions</a>
    </li>
    <li role="presentation" class="">
        <a href="#join">Joining tables</a>
    </li>
    <li role="presentation" class="">
        <a href="#order">Ordering results</a>
    </li>
    <li role="presentation" class="">
        <a href="#limit">Limited results</a>
    </li>
    <li role="presentation" class="">
        <a href="#count">Counting rows</a>
    </li>
    <li role="presentation" class="">
        <a href="#all">Get all records</a>
    </li>
    <li role="presentation" class="">
        <a href="#first">Get first record</a>
    </li>

</ul><!-- end of main navigation -->